version: '3'

services:
  db:
    image: postgres
    environment:
      - POSTGRES_USER=backend
      - POSTGRES_PASSWORD=qwerty
      - POSTGRES_DB=glitchlessdb

  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - DATABASE_USER=backend
      - DATABASE_PASSWORD=qwerty
      - DATABASE_URL=jdbc:postgresql://db/glitchlessdb
      - CODECOV_TOKEN=9a704f01-b13d-45e5-b55b-bd3787193dfa
    volumes:
      - maven-repo:/root/.m2
    links:
      - db

volumes:
  maven-repo: